/vendor/
/node_modules/
.env
storage/logs/*.log
storage/cache/*
storage/framework/*
!storage/logs/.gitkeep
!storage/cache/.gitkeep
!storage/framework/.gitkeep
public/uploads/products/*
!public/uploads/products/.gitkeep
public/uploads/ads/*
!public/uploads/ads/.gitkeep
.DS_Store
*.swp
.phpunit.result.cache
/.phpunit.cache/
/coverage/
